<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="https://profstories.ru/images/Organizatsiya/logotip_polyus_0_1.png" type="image/x-icon">
    <script src="https://unpkg.com/imask"></script>
</head>

<body>
        <header>
            <a href="/">
            <div class="image-container"><img src="https://profstories.ru/images/Organizatsiya/logotip_polyus_0_1.png"></div>
            </a>
            <div class="create-line"></div>
            <span class="logo">Цифровой HR</span>
            <nav class="menu">
               <a href="/">Главная</a>
               <a href="/vacancy">Вакансии</a>
               <a href="/form">Анкета</a> 
               <a href="/hr">Для HR</a>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <a class="box">Политика конфиденциальности</a>
            <a class="box">Условия использования</a>
            <a class="box">Обратная связь</a>
            <a class="box">Контакты</a>
    
        </footer>
</body>
</html>
