@model Form
@{
    ViewData["Title"] = "Анкета";
}

<h1>Анкета</h1>

<form method="post" asp-controller="Form" asp-action="Check">

    <!--FULLNAME-->

    <label asp-for="FullName"></label>
    <input class="form" type="text" id="FullName" name="FullName" maxlength="50" pattern="[а-яА-ЯA-Za-z\s]*" asp-for="FullName" />
    <span asp-validation-for="FullName"></span> 

    <!--BIRTHDAY-->
    
    <label asp-for="Birthday"></label>
    <input class="form" type="date" id="birthday" name="Birthday" asp-for="Birthday" />
    <span asp-validation-for="Birthday"></span>

    <!--EDUCATION-->

    <label asp-for="Education"></label>
    <select class="ddlist" name="Education" id="Education">
        <option value="Среднее общее">Среднее общее</option>
        <option value="Среднее профессиональное">Среднее профессиональное</option>
        <option value="Высшее">Высшее</option>
        <option value="Послевузовское профессиональное образование">Послевузовское профессиональное образование</option>
    </select>
    <span asp-validation-for="Education"></span>

    <!--ADDEDUCATION-->

    <label asp-for="AddEducation"></label>
    <select class="ddlist" name="AddEducation" id="AddEducation">
        <option value="Нет">Нет</option>
        <option value="Повышение квалификации">Повышение квалификации</option>
        <option value="Профессиональная переподготовка">Профессиональная переподготовка</option>
    </select>
    <span asp-validation-for="AddEducation"></span>

    <!--EXPERIENCE-->

    <label asp-for="Experience"></label>
    <select class="ddlist" name="Experience" id="Experience">
        <option value="Нет">Нет</option>
        <option value="Меньше года">Меньше года</option>
        <option value="1-3 года">1-3 года</option>
        <option value="3-6 лет">3-6 лет</option>
        <option value="Больше 6 лет">Больше 6 лет</option>
    </select>
    <span asp-validation-for="Experience"></span>
 
    <!--EMAIL-->

    <label asp-for="Email"></label>
    <input class="form" type="email" id="email" name="email" data-validation-email="true" asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <!--PHONE-->

    <label asp-for="PhoneNumber"></label>
    <input id="phone" asp-for="PhoneNumber" />
    <script>
        const element = document.getElementById('phone');
        const maskOptions = {
            mask: '+{7}(000)000-00-00'
        };
        const mask = IMask(element, maskOptions);
    </script>
    <span asp-validation-for="PhoneNumber"></span>

    <!--ADDINFO-->

    <label asp-for="AddInfo"></label>
    <input class="form" asp-for="AddInfo" />
    <span asp-validation-for="AddInfo"></span>

    <input type="submit" value="Отправить" />

</form>
