@model Form
@{
    ViewData["Title"] = "Анкета";
}

<h1>Анкета</h1>
<h2>Заполните анкету для отправки заявки, чтобы получить обратную связь </h2>
<form method="post" asp-controller="Form" asp-action="Check">

    <div class="form-borders">
        <div class="in-form">

            <!--VACANCY-->

            <label asp-for="Vacancy"></label>
            <select class="ddlist" name="Vacancy" id="vacancy">
                <option value="Специалист по информационной безопасности">Специалист по информационной безопасности</option>
                <option value="Инженер по испытаниям 3 категории">Инженер по испытаниям 3 категории</option>
                <option value="Инженер по снабжению">Инженер по снабжению</option>
                <option value="Инженер программист 1С">Инженер программист 1С</option>
                <option value="Инженер по нормированию труда 1 категории">Инженер по нормированию труда 1 категории</option>
            </select>
            <span asp-validation-for="Vacancy"></span>

            <!--FULLNAME-->
    
            <label asp-for="FullName"></label>
            <input type="text" id="fullname" name="FullName" maxlength="50" pattern="[а-яА-ЯA-Za-z\s]*" asp-for="FullName" />
            <span asp-validation-for="FullName"></span> 

            <!--BIRTHDAY-->
    
            <label asp-for="Birthday"></label>
            <input type="date" id="birthday" name="Birthday" asp-for="Birthday" />
            <span asp-validation-for="Birthday"></span>

            <!--EDUCATION-->

            <label asp-for="Education"></label>
            <select class="ddlist" name="Education" id="education">
                <option value="Неполное среднее">Неполное среднее</option>
                <option value="Полное среднее">Полное среднее</option>
                <option value="Среднее профессиональное">Среднее профессиональное</option>
                <option value="Высшее (бакалавриат)">Высшее (бакалавриат)</option>
                <option value="Высшее (специалитет)">Высшее (специалитет)</option>
                <option value="Высшее (магистратура)">Высшее (магистратура)</option>
                <option value="Аспирантура">Аспирантура</option>
                <option value="Докторантура">Докторантура</option>
            </select>
            <span asp-validation-for="Education"></span>

            <!--ADDEDUCATION-->

            <label asp-for="AddEducation"></label>
            <select class="ddlist" name="AddEducation" id="addeducation">
                <option value="Нет">Нет</option>
                <option value="Повышение квалификации">Повышение квалификации</option>
                <option value="Профессиональная переподготовка">Профессиональная переподготовка</option>
            </select>
            <span asp-validation-for="AddEducation"></span>

            <!--EXPERIENCE-->

            <label asp-for="Experience"></label>
            <select class="ddlist" name="Experience" id="experience">
                <option value="Нет">Нет</option>
                <option value="До года">Меньше года</option>
                <option value="1-3 года">1-3 года</option>
                <option value="3-6 лет">3-6 лет</option>
                <option value="6-9 лет">6-9 лет</option>
                <option value="10 лет и более">10 лет и более</option>
            </select>
            <span asp-validation-for="Experience"></span>
 
            <!--EMAIL-->

            <label asp-for="Email"></label>
            <input class="form" type="email" id="email" name="email" data-validation-email="true" asp-for="Email" />
            <span asp-validation-for="Email"></span>

            <!--PHONE-->

            <label asp-for="PhoneNumber"></label>
            <input id="phone" asp-for="PhoneNumber" />
            <script>
                const element = document.getElementById('phone');
                const maskOptions = {
                    mask: '+{7}(000)000-00-00'
                };
                const mask = IMask(element, maskOptions);
            </script>
            <span asp-validation-for="PhoneNumber"></span>

            <!--SOCIAL-->

            <label asp-for="Social"></label>
            <input asp-for="Social" />
            <span asp-validation-for="Social"></span>

            <!--ADDINFO-->

            <label asp-for="AddInfo"></label>
            <textarea class="row" asp-for="AddInfo"></textarea>
            <span asp-validation-for="AddInfo"></span>

            <input type="submit" id="submitBtn" value="Отправить заявку" onclick="showNotification()" />

            <div id="notification" class="notification">Резюме отправлено!</div>

            <script>
                
                function showNotification() {
                    console.log('Функция 2 выполнена');
                    var notification = document.getElementById("notification");
                    notification.style.display = "block";

                    setTimeout(function () {
                        notification.style.display = "none";
                    }, 3000); // Уведомление исчезнет через 3 секунды
                }

            </script>

        </div>
    </div>

</form>
