@{
    ViewData["Title"] = "Главная страница";
}

<div class="home-borders">
    <h1>О предприятии</h1>
    <div class="home-polus">
        <img class="polus-img" src=https://obzor.city/data/images/news_2016/08/polus/korpusa.jpg?width=1000>
    <p class="polus-info">АО "НПЦ "Полюс" специализируется на создании наукоемкого бортового и наземного электротехнического оборудования и систем точной механики.
        <br>
        <br>Разработанные и изготовленные на предприятии комплексы и устройства эксплуатируются в автоматических космических аппаратах связи и телевещания ("Молния", "Галс", "Экспресс-А", "Экспресс-АМ", "Глонасс"), 
        дистанционного зондирования Земли ("Ресурс-ДК"), космического мониторинга природной среды ("Метеор"), исследования дальнего космоса ("Фобос", "Марс"), на Международной космической станции.</p>
    </div>
</div>

<div class="home-borders">
    <h1>О сайте</h1>
    <h2 class="H2">Сайт создан для автоматизации процесса оценки анкет кандидатов для приёма на работу в АО "НПЦ Полюс".</h2>
</div>