* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Bahnschrift;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*-------------HEADER-------------*/

header {
    width: 80%;
    padding: 25px 10%;
    color: black;
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: 300;
    font-size: 20px;
}
.create-line {
    height: 45px;
    border-left: 2px solid;
}

header .logo {
    font-weight: 400;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.menu {
    display: flex;
    width: 72%;
    justify-content: right;
}

header nav a {
    margin-left: 50px;
    color: black;
    text-decoration: none;
}

header nav a:hover {text-decoration: none}

/*-------------IMAGE-------------*/

.image-container {
}

img {
    padding-right: 40px;
    width: 73px;
    height: 60px;
}

.polus-img {
    padding-right: 0px;
    width: 800px;
    height: 535px;
    border-radius: 10px;
}

/*-------------MAIN-------------*/

main {
    width: 80%;
    padding: 15px 10%;
    margin: 30px 0;
    padding-bottom: 30px;
    flex: 1;
}

/*-------------HOME-------------*/

h1 {
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 23px;
}

.polus-info {
    padding-top: 50px;
    padding-left: 35px;
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 25px;
}

.home-polus {
    display: flex;
    justify-content: space-between;
}

.home-borders {
    display: block;
    padding: 50px;
    background: #e7f0ff;
    border-radius: 10px;
    width: 94%;
    margin-bottom: 40px;
}


/*-------------VACANCY-------------*/

.vacancy {
    display: block;
    padding: 30px;
    background: #e7f0ff;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.vacancy-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
}

.vacancy-description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
}

.title {
    font-weight: 400;
    font-size: 20px;
}

main label {
    /*width: 40%;*/
    margin-top: 10px;
    display: block;
    font-family: Bahnschrift;
}
main input:not([type="submit"]) {
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-top: 7px;
    min-width: 96%;
    max-width: 96%;
}
  
    main input:not([type="submit"]):focus {
        border: 1px solid #2f00ff;
    }

main input[type="submit"] {
    width: 35%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border: 0;
    margin-top: 20px;
    background: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    margin-left: 32%;
}

    main input[type="submit"]:hover {
        background: #b1c3ff;
    }

    main form span {
        color: #ff0000;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }

.in-form input {
    width: 100%;
}

.form-borders {
    display: block;
    padding: 40px;
    background: #e7f0ff;
    border-radius: 10px;
    width: 50%;
}

.ddlist {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-top: 7px;
}

.field-validation-valid {
    width: 40%;
}

.field-validation-error {
    width: 40%;
}

.row {
    padding: 14px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-top: 7px;
    min-width: 96%;
    max-width: 96%;
    min-height: 40px;
    font-family: Bahnschrift;
}

.notification {
    font-weight: 300;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    z-index: 1000;
}

/*-------------HR-------------*/

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
    font-size: 18px;
}
    table th {
        font-weight: bold;
        padding: 5px;
        background: #e7f0ff;
        border: 1px solid #bbbbbb;
    }

    table td {
        border: 1px solid #bbbbbb;
        padding: 5px;
    }

.sort {
    margin-bottom: 15px;
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    margin-right: 90%;
    
}

.sort label {
    margin-top: 0;
    margin-right: 10px; 
    width: 150px;
    font-size: 18px;
}

.sort-select {
    width: 250px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-left: 5%;
}

/*-------------FOOTER-------------*/

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: 300;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    background: #333;
}

.box {
    padding: 40px;
}

