* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Bahnschrift;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    width: 80%;
    padding: 25px 10%;
    color: black;
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: 300;
    font-size: 20px;
}
.create-line {
    
    height: 45px;
    border-left: 2px solid #2a2072;
}

header .logo {
    font-weight: 500;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

    header nav a {
        margin-left: 30px;
        color: black;
        text-decoration: none;
    }

/*.menu {
    justify-content: space-between;
    margin-left: 570px;
}*/

header nav a:hover {text-decoration: none}

.image-container {
}

img {
    padding-right: 40px;
    width: 73px;
    height: 60px;
}

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
    padding-bottom: 100px;
    flex: 1;
}

h1 {
    font-weight: 300;
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
    font-weight: 100;
    font-size: 23px;
}

main label {
    width: 100%;
    margin-top: 10px;
    display: block;
}
    main input:not([type="submit"]) {
        width: 40%;
        padding: 10px 14px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid silver;
        outline: none;
        margin-top: 7px;
    }

    main input:not([type="submit"]):focus {
        border: 1px solid #2f00ff;
    }

main input[type="submit"] {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border: 0;
    margin-top: 20px;
    background: #d4d4d4;
    font-weight: bold;
    margin-left: 11%;
}

    main input[type="submit"]:hover {
        background: #adadad;
    }

    main form span {
        color: #ff0000;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }

.ddlist {
    width: 42%;
    height: 40px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
}

.form_radio {
    
    display: flex;
    flex-direction: row;
    height: 28px;
    position: relative;
    align-items: center;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: 300;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    background: #333;
}

.box {
    padding: 40px;
}

