* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Bahnschrift;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*-------------HEADER-------------*/

header {
    width: 80%;
    padding: 25px 10%;
    color: black;
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: 300;
    font-size: 20px;
}
.create-line {
    height: 45px;
    border-left: 2px solid;
}

header .logo {
    font-weight: 400;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.menu {
    display: flex;
    width: 72%;
    justify-content: right;
}

header nav a {
    margin-left: 50px;
    color: black;
    text-decoration: none;
}

header nav a:hover {text-decoration: none}

/*-------------IMAGE-------------*/

.image-container {
}

img {
    padding-right: 40px;
    width: 73px;
    height: 60px;
}

/*-------------MAIN-------------*/

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
    padding-bottom: 100px;
    flex: 1;
}

h1 {
    font-weight: 300;
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 23px;
}

.vacancy {
    display: block;
    padding: 30px;
    background: #e7f0ff;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.vacancy-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
}

.vacancy-description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
}

.title {
    font-weight: 400;
    font-size: 20px;
}

main label {
    width: 40%;
    margin-top: 10px;
    display: block;
}
    main input:not([type="submit"]) {
       
        width: 96%;
        padding: 10px 14px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid #b1c3ff;
        outline: none;
        margin-top: 7px;
    }

    main input:not([type="submit"]):focus {
        border: 1px solid #2f00ff;
    }

main input[type="submit"] {
    width: 35%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border: 0;
    margin-top: 20px;
    background: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    margin-left: 32%;
}

    main input[type="submit"]:hover {
        background: #b1c3ff;
    }

    main form span {
        color: #ff0000;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }

.in-form input {
    width: 90%;
}

.form-borders {
    display: block;
    padding: 20px;
    background: #e7f0ff;
    border-radius: 10px;
    width: 50%;
}

.ddlist {
    width: 100%;
    height: 40px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-top: 7px;
}

.field-validation-valid {
    width: 40%;
}

.field-validation-error {
    width: 40%;
}

.row {
    width: 96%;
    height: 40px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #b1c3ff;
    outline: none;
    margin-top: 7px;
}

/*-------------HR-------------*/

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
}
    table th {
        font-weight: bold;
        padding: 5px;
        background: #e7f0ff;
        border: 1px solid #bbbbbb;
    }

    table td {
        border: 1px solid #bbbbbb;
        padding: 5px;
    }

.sort {
    width: 17%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.sort label {
    margin-top: 0;
    margin-right: 10px; 
    vertical-align: middle;
}



/*-------------FOOTER-------------*/

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: 300;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    background: #333;
}

.box {
    padding: 40px;
}

