@model Vacancy
@{
    ViewData["Title"] = "Вакансии";
}

<h1>Вакансии</h1>

<div class="vacancy">
    <p class="vacancy-name">Инженер по испытаниям 3 категории</p>
    <p class="vacancy-description">
        Требуемый опыт работы: 1-3 года
        <br>Полная занятость, полный день
    </p>
    <details>
        <summary class="vacancy-description">Подробнее о вакансии</summary>
        <p class="title">Обязанности:</p>
        <p class="vacancy-description">
            • Проведение испытаний в соответствии с требованиями конструкторской и технической документации
            <br>• Оформление замечаний, возникших в процессе проведения испытаний
            <br>• Оценка результатов испытаний и выдача заключений
        </p>
        <p class="title">Требования:</p>
        <p class ="vacancy-description">
            • Высшее техническое образование (электромеханика, механика)
            <br>• Опыт работы по специальности
        </p>
        <p class="title">Условия:</p>
        <p class ="vacancy-description">
            • Официальное оформление в соответствии с ТК РФ
            <br>• Пятидневная рабочая неделя с 8.00 до 17.00
            <br>• Стабильная заработная плата
        </p>
        <div>
            <a href="/form">
            <input href ="/form" type="submit" value="Отправить заявку" />
            </a>
        </div>
    </details>
</div>

<div class="vacancy">
    <p class="vacancy-name">Инженер по снабжению</p>
    <p class="vacancy-description">
        Требуемый опыт работы: 3-6 года
        <br>Полная занятость, полный день
    </p>
    <details>
        <summary class="vacancy-description">Подробнее о вакансии</summary>
        <p class="title">Обязанности:</p>
        <p class="vacancy-description">
            • Осуществляет работу по обеспечению предприятия необходимыми для его производственной деятельности материальными ресурсами и их рациональному использованию
            <br>• Составляет заявки на материальные ресурсы с необходимыми обоснованиями и расчетами
            <br>• Подготавливает проекты договоров с поставщиками, материалы по претензиям к поставщикам при нарушении ими договорных обязательств
            <br>• Согласовывает с поставщиками технические требования и характеристики заказываемых материальных технических ресурсов
            <br>• Участвует в ведении оперативного учета движения материальных ресурсов
            <br>• В своей работе руководствуется с 223 ФЗ, 275 ФЗ, 44 ФЗ
        </p>
        <p class="title">Требования:</p>
        <p class="vacancy-description">
            • Высшее профессиональное (техническое) образование
            <br>• Опыт работы согласно категории
        </p>
        <p class="title">Условия:</p>
        <p class="vacancy-description">
            • Пятидневная рабочая неделя, график работы с 8.00 до 17:00
            <br>• Социальные гарантии согласно ТК РФ
        </p>
        <div>
            <a href="/form">
                <input href="/form" type="submit" value="Отправить заявку" />
            </a>
        </div>
    </details>
</div>

<div class="vacancy">
    <p class="vacancy-name"> Инженер программист 1С</p>
    <p class="vacancy-description">
        Требуемый опыт работы: 3-6 года
        <br>Полная занятость, полный день
    </p>
    </p>
    <details>
        <summary class="vacancy-description">Подробнее о вакансии</summary>
        <p class="title">Обязанности:</p>
        <p class="vacancy-description">
            • Разработка и сопровождение типовых и самописных конфигураций
        </p>
        <p class="title">Требования:</p>
        <p class ="vacancy-description">
            • Образование высшее (профильное), опыт разработки на платформе 1С 8.3
            <br>• Опыт программирования на языке запросов SQL
            <br>• Знание одной или нескольких типовых конфигураций «1С: бухгалтерия предприятия», «1С: Зарплата и Управление Персоналом», «1С: Управление производственным предприятием»
            <br>• Практический опыт добработки типовой конфигурации 1С; Опыт внедрения типовых конфигураций на предприятии (в том числе перенос данных на платформу 1С из других баз данных)
        </p>
        <p class="title">Условия:</p>
        <p class ="vacancy-description">
            • Официальное оформление в соответствии с ТК РФ
            <br>• Стабильная заработная плата
        </p>
        <div>
            <a href="/form">
                <input href="/form" type="submit" value="Отправить заявку" />
            </a>
        </div>
    </details>
</div>

<div class="vacancy">
    <p class="vacancy-name">Инженер по нормированию труда 1 категории</p>
    <p class="vacancy-description">
        Требуемый опыт работы: 3-6 года
        <br>Полная занятость, полный день
    </p>
     <details>
        <summary class="vacancy-description">Подробнее о вакансии</summary>
        <p class="title">Обязанности:</p>
        <p class="vacancy-description">
            • Разрабатывает нормы трудовых затрат на изготовление деталей, узлов по всем видам работ, выполняемых в производственном подразделении
            <br>• Определяет нормы трудовых затрат на основе исследования фактических затрат рабочего времени и их анализа непосредственно на рабочем месте, применяя при этом хронометраж, фотографию рабочего дня, моментные наблюдения
            <br>• Разрабатывает документы по нормированию труда на все детали и узлы, которые изготавливаются в подразделении
            <br>• Ежемесячно составляет отчетность по выполнению норм времени, рассчитывает средний процент выполнения норм в подразделении
            <br>• Своевременно производит расчет и контроль первичных документов по оплате труда рабочих нарядо
        </p>
        <p class="title">Требования:</p>
        <p class ="vacancy-description">
            • Высшее профессиональное техническое образование (механика)
            <br>• Стаж работы по специальности согласно категории
        </p>
        <p class="title">Условия:</p>
        <p class ="vacancy-description">
            • Официальное оформление в соответствии с ТК РФ
            <br>• Стабильная заработная плата
        </p>
        <div>
            <a href="/form">
            <input href ="/form" type="submit" value="Отправить заявку" />
            </a>
        </div>
    </details>
</div>